/*  */
.app.rtl .text-left {
  text-align: right !important;
}
.app.rtl .text-right {
  text-align: left !important;
}
.app.rtl .float-left {
  float: right !important;
}
.app.rtl .float-right {
  float: left !important;
}

.top-header .text-left {
  text-align: left !important;
}
.top-header .text-right {
  text-align: right !important;
}
.top-header .float-left {
  float: left !important;
}
.top-header .float-right {
  float: right !important;
}

.top-header .container {
  direction: ltr;
}

.top-header .phone-container {
  order: 1;
  direction: ltr;
}
.fa-phone {
  direction: ltr !important;
}
.lab-ltr {
  direction: ltr !important;
}
.top-header .language-picker {
  order: 2;
  direction: ltr;
}

html[dir="rtl"] .language-picker {
  direction: ltr;
}

/* Slider Prev */
.slick-arrow {
  direction: ltr !important; /* تجاهل اتجاه اللغة */
}
html[dir="rtl"] .slick-prev {
  right: 10px !important;
  left: auto !important;
}

html[dir="rtl"] .slick-next {
  left: 10px !important;
  right: auto !important;
}

/* لما الصفحة بالإنجليزي (LTR) */
html[dir="ltr"] .slick-prev {
  left: 10px !important;
  right: auto !important;
}

html[dir="ltr"] .slick-next {
  right: 10px !important;
  left: auto !important;
}
/*  */
html[dir="rtl"] .password-input-wrapper {
  direction: ltr;
}

html[dir="rtl"] .password-toggle-btn {
  left: 0;
  right: auto;
  transform: translateY(-50%);
}

html[dir="rtl"] .password-input-wrapper input {
  padding-right: 15px;
  padding-left: 40px;
}

/* About  */
html[dir="rtl"] .accordion-button span.flex-grow-1 {
  text-align: right;
}

html[dir="ltr"] .accordion-button span.flex-grow-1 {
  text-align: left;
}

/* Input PlaceHolder */
.app.rtl input::placeholder,
.app.rtl textarea::placeholder {
  text-align: right;
  direction: rtl;
}

.contact-style2.app.rtl .form-control::placeholder {
  text-align: right;
  direction: rtl;
}

.app.rtl #ContactFormName::placeholder,
.app.rtl #ContactFormEmail::placeholder,
.app.rtl #ContactFormPhone::placeholder,
.app.rtl #ContactSubject::placeholder,
.app.rtl #ContactFormMessage::placeholder {
  text-align: right;
  direction: rtl;
}

/* Page Contact Page */
.drop-header-con .fas.fa-plus {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

html[dir="rtl"] .drop-header-con .fas.fa-plus {
  right: auto;
  left: 15px;
}

.drop-header-con:not(.collapsed) .fas.fa-plus {
  transform: translateY(-50%) rotate(45deg);
}

/* Select */
html[dir="rtl"] .select-rtl {
  background-position: left 0.75rem center !important;
  padding-left: 2.25rem !important;
  padding-right: 0.75rem !important;
}

/* P M  */

html[dir="rtl"] .ps-0 {
  padding-right: 0 !important;
  padding-left: unset !important;
}
html[dir="rtl"] .pe-0 {
  padding-left: 0 !important;
  padding-right: unset !important;
}
html[dir="rtl"] .ms-0 {
  margin-right: 0 !important;
  margin-left: unset !important;
}
html[dir="rtl"] .me-0 {
  margin-left: 0 !important;
  margin-right: unset !important;
}

html[dir="rtl"] .ps-1 {
  padding-right: 0.25rem !important;
  padding-left: unset !important;
}
html[dir="rtl"] .ps-2 {
  padding-right: 0.5rem !important;
  padding-left: unset !important;
}
html[dir="rtl"] .ps-3 {
  padding-right: 1rem !important;
  padding-left: unset !important;
}
html[dir="rtl"] .ps-4 {
  padding-right: 1.5rem !important;
  padding-left: unset !important;
}
html[dir="rtl"] .ps-5 {
  padding-right: 3rem !important;
  padding-left: unset !important;
}

html[dir="rtl"] .pe-1 {
  padding-left: 0.25rem !important;
  padding-right: unset !important;
}
html[dir="rtl"] .pe-2 {
  padding-left: 0.5rem !important;
  padding-right: unset !important;
}
html[dir="rtl"] .pe-4 {
  padding-left: 1.5rem !important;
  padding-right: unset !important;
}
html[dir="rtl"] .pe-5 {
  padding-left: 3rem !important;
  padding-right: unset !important;
}

/* نفس الفكرة للمارجن */
html[dir="rtl"] .ms-1 {
  margin-right: 0.25rem !important;
  margin-left: unset !important;
}
html[dir="rtl"] .ms-2 {
  margin-right: 0.5rem !important;
  margin-left: unset !important;
}
html[dir="rtl"] .ms-3 {
  margin-right: 1rem !important;
  margin-left: unset !important;
}
html[dir="rtl"] .ms-4 {
  margin-right: 1.5rem !important;
  margin-left: unset !important;
}
html[dir="rtl"] .ms-5 {
  margin-right: 3rem !important;
  margin-left: unset !important;
}

html[dir="rtl"] .me-1 {
  margin-left: 0.25rem !important;
  margin-right: unset !important;
}
html[dir="rtl"] .me-2 {
  margin-left: 0.5rem !important;
  margin-right: unset !important;
}
html[dir="rtl"] .me-3 {
  margin-left: 1rem !important;
  margin-right: unset !important;
}
html[dir="rtl"] .me-4 {
  margin-left: 1.5rem !important;
  margin-right: unset !important;
}
html[dir="rtl"] .me-5 {
  margin-left: 3rem !important;
  margin-right: unset !important;
}
